* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Roboto-Bold";
  src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: "Roboto-Regular";
  src: url(../fonts/Roboto-Regular.ttf);
}

html {
  font-size: 16px;
}

p {
  font-family: "Roboto-Regular", "sans-serif";
  color: #777;
}

h3 {
  font-family: "Roboto-Bold", "sans-serif";
  font-size: 14px;
  text-transform: uppercase;
  padding: 1rem 3rem;
}

/* ------------------ MOBILE ------------------- */

/* * ---------- Section-Article ----------- */

h2 {
  font-family: "Roboto-Bold", "sans-serif";
  font-size: 32px;
  padding: 3rem;
}

.section_article {
  min-height: 50vh;
  max-height: 100vw;
}

.section_article p {
  max-width: 28rem;
  line-height: 1.5rem;
  padding: 0 3rem;
}

h4 {
  font-family: "Roboto-Bold", "sans-serif";
  font-size: 18px;
}

/* * ---------- Section-Photo ----------- */

.section_photo {
  /* background-image: url("../img/retro_radio.jpg") no-repeat center/cover; funkionert nicht?? */
  background-image: url("../img/retro_radio.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 80vh;
  padding: 1.5rem 3rem 0 3rem;
  /* ? Reihenfolge: background-position/background-size background-attechment */
}

.section_photo p {
  font-size: 14px;
}

.section_photo p::before {
  content: "01";
  color: black;
  font-family: "Roboto-Bold", "sans-serif";
  font-size: 20px;
}

/* * ---------- Footer ----------- */

footer {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.footer_left,
.footer_right {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.footer_arrows {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.arrow_left,
.arrow_right {
  font-size: 18px;
  font-family: "Roboto-Bold", "sans-serif";
  padding: 1.5rem 1.7rem;
}

/*  ---------- Left ----------- */

.footer_social {
  padding: 1.5rem 3rem 1.7rem;
}

.footer_social a img {
  max-width: 16px;
  max-height: 16px;
}

.footer_social a {
  margin-right: 0.4rem;
}

/*  ---------- Middle ----------- */

.arrow_left {
  color: black;
}

.arrow_right {
  background-color: black;
  color: white;
}

/*  ---------- Right ----------- */

.footer_caption {
  padding: 1rem 1.2rem 1rem 1.7rem;
  text-align: right;
}

.footer_caption h4 {
  font-size: 16px;
}

.footer_caption p {
  font-size: 14px;
}
