@media only screen and (min-width: 768px) {
  .wrapper_responsive {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90vh;
  }

  .section_article,
  .section_photo {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 50vh;
  }

  /* * ---------- Section-Article ----------- */

  h3 {
    font-size: 16px;
    padding: 1.8rem 3rem;
    position: absolute;
  }

  h2 {
    font-size: 40px;
  }

  .section_article {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  /* * ---------- Section-Photo ----------- */

  .section_photo {
    min-width: 50vw;
    min-height: 100vh;
  }

  .section_photo p {
    padding-top: 4rem;
  }

  /* * ---------- Footer ----------- */

  .arrow_left,
  .arrow_right {
    font-size: 22px;
  }

  .footer_social {
    background-color: #f2f2f2;
  }

  .footer_caption {
    background-color: white;
  }

  .footer_social a {
    margin-right: 0.8rem;
  }

  .footer_social a img {
    max-width: 22px;
    max-height: 22px;
  }

  .footer_caption h4 {
    font-size: 16px;
  }
}
